{% extends "base.html" %}

{% block title %}Bitter gourd Data Miner - Database{% endblock %}
{% block fronttitle %}Bitter gourd Data Miner - Database {% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <class style="position: absolute; padding: 15px">
    <div>
        <form action="/DataMiner/Database/">
            {% csrf_token %}
             <select name="function"><option value="add">Add</option><option value="remove">Remove</option></select>
            term: <input type="text" name="term">
            <input type="radio" name="type" value="dis"> Disease
            <input type="radio" name="type" value="comp"> Compound
            <input type="radio" name="type" value="bg"> Bitter Gourd
            <input type="submit" value="Submit"><br>
            <br>
        </form>
    </div>
        <div style="padding: 6px; position: relative; float: left;">
            <div style="position: absolute; top: -20px; padding: 3px">Disease terms</div>
            <select size="20">
                {% for term in disease_list %}
                    <option value="{{ term }}">{{ term }}</option>
                {% endfor %}
            </select>
        </div>
    <div style="padding: 6px; position: relative; float: left;">
        <div style="position: absolute; top: -20px; padding: 3px">Compound terms</div>
            <select size="20">
                {% for term in compound_list %}
                    <option value="{{ term }}">{{ term }}</option>
                {% endfor %}
            </select>
        </div>
    <div style="padding: 6px; position: relative; float: left;">
        <div style="position: absolute; top: -20px; padding: 3px">Bitter gourd synonyms</div>
            <select size="20">
                {% for term in bitter_list %}
                    <option value="{{ term }}">{{ term }}</option>
                {% endfor %}
            </select>
        </div>
    <div title="Dont forget to update relationships after changing term lists!">
        <form action="/DataMiner/UpdatingRelationships/" method="post">
            {% csrf_token %}
        <input type="submit" value="Update relationships">
        </form>
        <div onclick="infomsg()" style="font-size: 20px; right: 450px; top: 535px; position: absolute"> ℹ </div>
    </div>
    <div>
        Amount of relationships: {{ relationcount }} <br>
        Amount of articles:      {{ articlecount }}
    </div>
    <br>
    <div title="Dont forget to update the database after changing bitter gourd list!">
        <form action="/DataMiner/UpdatingDatabase/" method="post">
            {% csrf_token %}
        <input style="color: white; background-color: red" type="submit" value="Update database">
        </form>

    </div>

    </class>
    <script>
function infomsg() {
  alert("After adding or removing search terms, you should always update the relationships tied to those " +
      "terms, this process may take some time depending on how many search terms the lists contain." +
      " " +
      "If you add bitter gourd synonyms, you should use the red update database button, this process automatically " +
      "updates relationships for you.");
}
</script>
{% endblock %}